
 .name {
    background: rgb(231, 252, 252);
    font-weight: bold;
    text-align: center;
    display: flex;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    color: brown;
     }
  

  
  